<h1>Page Not Found</h1>

<p>
    Unable to locate the page or resource for your recent request. Perhaps try
    one of the following options:
</p>

<p>
    <button onclick="window.history.back()">Go Back a Page</button>
    <button onclick="window.location.href = '[% c.url_for('/') %]'">Go to the Home Page</button>
</p>
