---
default:
    mojo_app_lib: Omniframe::Control
    database:
        file: local/app.sqlite
        settings:
            PrintError                  : 0
            RaiseError                  : 1
            sqlite_see_if_its_a_number  : 1
            sqlite_defensive            : 1
            sqlite_extended_result_codes: 1
            sqlite_string_mode          : 6
                # 4 = DBD_SQLITE_STRING_MODE_UNICODE_NAIVE
                # 5 = DBD_SQLITE_STRING_MODE_UNICODE_FALLBACK
                # 6 = DBD_SQLITE_STRING_MODE_UNICODE_STRICT
        pragmas:
            encoding          : UTF-8
            foreign_keys      : ON
            journal_mode      : WAL
            recursive_triggers: ON
            temp_store        : MEMORY
    logging:
        log_file: local/app.log
        log_level:
            production : info
            development: debug
        alert_email:
            - example@example.com
        alert_email_subject: Alert Log Message
        filter:
            - email
    template:
        compile_ext: .ttc
        compile_dir: local/ttc
        web:
            wrapper: wrapper.html.tt
            include_path:
                - templates/pages
                - templates/components
        email:
            include_path:
                - templates/emails
    packer:
        production:
            remove_comments: 1
            remove_newlines: 0
    sass:
        scss_src  : config/assets/sass/app
        compile_to: static/build/app.css
        exe       : local/externals/dart_sass/sass
    mojolicious:
        access_log     : local/access.log
        performance_log: local/performance.log
        static_paths:
            - static
        config:
            hypnotoad:
                proxy   : 1
                pid_file: local/hypnotoad.pid
                listen  :
                    - http://*:8080
                heartbeat_timeout: 30
                graceful_timeout : 45
        session:
            cookie_name       : omniframe_session
            default_expiration: 31557600 # 365.25 days
            encrypted         : 1
            samesite          : Lax
        ws_inactivity_timeout: 14400 # 4 hours
        linda:
            app  : app.psgi
            watch:
                - app.psgi
                - config/app.yaml
                - config/assets
                - lib
                - templates
        csrf:
            header: X-CSRF-Token
    email:
        from  : Example <example@example.com>
        active: 1
    bcrypt:
        cost: 5
        salt: 0123456789abcdef
    crypt:
        pass      : passphrase
        salt      : 0123456789a
        pbkdf     : pbkdf2
        chain_mode: cbc
        cipher    : Cipher::AES
        iter      : 10000
        hasher    : HMACSHA2
        header    : salt
        padding   : standard
    otpauth:
        issuer: Omniframe
        range : 1
        imager:
            size         : 4
            margin       : 2
            level        : M
            version      : 6
            casesensitive: 0
            mode         : 8-bit
            lightcolor   : [ 255, 255, 255 ]
            darkcolor    : [ 0, 0, 0 ]
