:root {
    font-size : 12px;
}

body {
    font-family : sans-serif;
    line-height : 1.25rem;
}

h1 {
    font-size : 2rem;
}

h2 {
    font-size : 1.8rem;
}

h3 {
    font-size : 1.6rem;
}

h4 {
    font-size : 1.4rem;
}

h5 {
    font-size : 1.2rem;
}

h6 {
    font-size : 1rem;
}

h1, h2, h3, h4, h5, h6 {
    line-height : 125%;
}

h1, h2, h3, h4, h5, h6, strong, b {
    font-weight : bold;
}

dl dt {
    font-weight : bold;
}

pre, code, kbd, samp, tt {
    font-family : monospace;
    font-size   : 1em;
    line-height : 1.125em;
}

em, i, var, address {
    font-style : italic;
}

small {
    font-size : 0.8em;
}

big {
    font-size : 1.2em;
}

sub, sup {
    font-size      : 0.8em;
    line-height    : 0;
    position       : relative;
    vertical-align : baseline;
}

sup {
    top : -0.5em;
}

sub {
    bottom : -0.25em;
}

abbr, acronym {
    border-bottom : 1px dotted;
    cursor        : help;
}

del {
    text-decoration : line-through;
}
