* {
    font-family : sans-serif;
    font-size   : 10pt;
}

pre, code, kbd, samp, tt {
    font-family : monospace;
    font-size   : 0.8rem;
    line-height : 0.95rem;
}

table {
    font-size: inherit;
}

th {
    font-weight : bold;
}

dl dt {
    font-weight : bold;
}

a:link {
    color : blue;
}

a:visited {
    color : darkslateblue;
}

a:hover {
    color : slateblue;
}

a:active {
    color : darkblue;
}
